<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    {% block referencing %}
        {{ render(controller(
            'App\\Controller\\App\\Render\\ReferencingController::addReferencing'
        )) }}
    {% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('style-app-main') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('js-app-main') }}
    {% endblock %}
</head>
<body>
{% block messages %}
    {% include('app/partials/_messages.html.twig') %}
{% endblock %}

{% block body %}{% endblock %}
{% include('app/partials/_cookies.html.twig') %}

</body>
</html>
