<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    {% block seo %}
        {%if page is defined%}
            {%include 'app/partials/_seo.html.twig' with { seo: page.seo}%}
        {%else%}
            {%include 'app/partials/_seo.html.twig' with { seo:{title: 'Mon site'}}%}
        {%endif%}
    {% endblock %}


    {% block stylesheets %}
        {{ encore_entry_link_tags('style-app-main') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('js-app-main') }}
    {% endblock %}
</head>
<body>
{% block messages %}
    {% include('app/partials/_messages.html.twig') %}
{% endblock %}

{% block body %}{% endblock %}
{% include('app/partials/_cookies.html.twig') %}

</body>
</html>
