@import "./variables";
@import "~bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "partials/buttons";
@import 'partials/layout.scss';
@import 'partials/scrollbar';
@import "partials/swal";

label.required:after {
  content: " * ";
  color: #D42124;
}

form {
  .block-url {
    display: flex;
    margin-top: 5px;
    align-items: center;

    span {
      font-size: 12px;

      &.base-url {
        color: #6c757d;
      }

      &.path {
        color: #4a4aff;
      }

      &.fa-pen {

      }
    }

    .fa-pen {
      font-size: 12px;
      margin-left: 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}