@import "../variables";
@import "~bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "partials/buttons";
@import url('./partials/layout.css');
@import url('./partials/scrollbar.css');


:root {
  --bs-primary-rgb: 0, 157, 99;
  --bs-secondary-rgb: 187, 190, 197;
  --admin-secondary-bg-rgb: 193, 239, 222;
}


label.required:after {
  content: " * ";
  color: #D42124;
}


form {
  .block-url {
    display: flex;
    margin-top: 5px;
    align-items: center;

    span {
      font-size: 12px;

      &.base-url {
        color: #6c757d;
      }

      &.path {
        color: #4a4aff;
      }

      &.fa-pen {

      }
    }

    .fa-pen {
      font-size: 12px;
      margin-left: 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}




