@import "../variables";
@import "~bootstrap/scss/bootstrap";

body {
    background-color: #c2c2c2;
}

label.required:after {
    content: " * ";
    color: #D42124;
}
.container{
    .alert{
        p{margin-bottom: 0}
    }
}

