{% extends "@!ArtgrisMaintenance/maintenance.html.twig" %}

{% block content %}
    <h1>Site en cours de maintenance</h1>
    <h2>Nous reviendrons bientôt. Désolé pour le dérangement.</h2>
{% endblock %}
