{% extends 'app/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h1>Mot de passe oublié ?</h1>
                    <h2>Je demande un lien de réinitialisation</h2>
                </div>
                <div class="row mt-5">
                    <div class="col-10 col-md-8 col-lg-6 mx-auto">
                        <form method="post">
                            <div class="mb-3">
                                <label for="inputEmail" class="form-label">Email </label>
                                <input type="email" class="form-control" id="inputEmail" name="email">
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary ">
                                        Envoyer
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
