<div class="sb-sidenav-menu">
    <div class="nav">
        <div class="sb-sidenav-menu-heading">Tableau de bord</div>
        <a class="nav-link" href="{{ path('admin_index') }}">
            <div class="sb-nav-link-icon">
                <span>
                    <i class="fas fa-tachometer-alt"></i>
                    Accueil
                </span>
            </div>
        </a>
        <hr>
        <a class="nav-link no-active" href="{{ path('app_index') }}" target="_blank">
            <div class="sb-nav-link-icon">
                <span>
                    <i class="fas fa-home"></i>
                    Voir mon site
                </span>
            </div>
        </a>
    </div>
</div>
