<div class="d-flex justify-content-around">
    {% if value.edit is defined %}
        <a href="{{ value.edit }}" class="btn">
            <i class="fas fa-pen"></i>
        </a>
    {% endif %}
    {% if value.remove is defined %}
        <a class="btn btn-delete" href="{{ value.remove }}" data-message="Veuillez confirmer la suppression">
            <i class="fas fa-trash"></i>
        </a>
    {% endif %}
</div>
