<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
    <title>{% block title %}Administration {% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('style-admin-main') }}
    {% endblock %}

</head>
<body>
<main id="wrapper" class="nav-close">
    {% include "admin/partials/_sidebar.html.twig" %}

    <div class="content-wrapper">
        <div id="top-bar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12" id="top-bar-content">
                        <div class="breadcrumb-bar">
                            {% include "admin/partials/_breadcrumb.html.twig" with {'breadcrumb': currentPage.breadcrumb|default([])} only %}
                        </div>
                        <div class="actions">
                            {{ actionBar() }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="main-content">
            {% block messages %}
                {% include "admin/partials/_messages.html.twig" %}
            {% endblock %}
            {% block body %}{% endblock %}
        </div>
    </div>
</main>

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>

    {{ encore_entry_script_tags('js-admin-main') }}
{% endblock %}


</body>
</html>
