/** Colors */
$color_1: #333232;
$color_2: #a9a9a9;
$color_3: #c3cfe2;
$color_4: #E3CAB8;

/** Override Bootstrap  vars **/
$primary:       $color_1;
$secondary:     $color_2;
$success:       #62B575;
$danger:        #E31F13;
$warning:       #FA694F;

/** Breakpoints **/
$breakpoint_SM: 576px;
$breakpoint_MD: 768px;
$breakpoint_LG: 992px;
$breakpoint_XL: 1200px;
$breakpoint_XXL: 1400px;

/** Breadcrumb **/
$breadcrumb-divider-color: $color_2;
$breadcrumb-item-active-color: $color_2;

/** Pagination **/
$pagination-color: $color_2;
$pagination-active-bg: $color_2;

/** Admin vars **/
$admin_topnav_background: $color_1;
$admin_topnav_color: white;
$admin_sidebar_background: $color_3;
$admin_sidebar_background_hover: $color_4;
$admin_sidebar_color: $primary;
$admin_footer_background: white;
$admin_footer_color: $admin_sidebar_background;

