<div class="sb-sidenav-menu">
    <div class="nav">
        <div class="sb-sidenav-menu-heading">Tableau de bord</div>
        <a class="nav-link" href="{{ path('admin_index') }}">
            <div class="sb-nav-link-icon">
                <span>
                    <i class="fas fa-tachometer-alt"></i>
                    Accueil
                </span>
            </div>
        </a>
        <hr>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="sb-sidenav-menu-heading">Super Admin</div>
            <a class="nav-link no-active" href="{{ path('admin_referencing_list') }}" target="">
                <div class="sb-nav-link-icon">
                <span>
                    <i class="fas fa-laptop-code"></i>
                    Réferencement
                </span>
                </div>
            </a>

            <a class="nav-link no-active" href="{{ path('admin_clear_cache') }}" target="">
                <div class="sb-nav-link-icon">
                <span>
                    <i class="fas fa-sync-alt"></i>
                    Vider le cache
                </span>
                </div>
            </a>
            <hr>
        {% endif %}

        <a class="nav-link no-active" href="{{ path('app_home') }}" target="_blank">
            <div class="sb-nav-link-icon">
                <span>
                    <i class="fas fa-home"></i>
                    Voir mon site
                </span>
            </div>
        </a>
    </div>
</div>
