{% extends 'admin/base.html.twig' %}


{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">

                        {% if root.slug == constant('App\\Entity\\Category\\Category::MENU_SLUG') %}
                            <span class="h3 mb-0">
                                Arborescence du menu
                            </span>
                        {% else %}
                            Catégories
                        {% endif %}

                    </div>
                    <div class="card-body">

                        {% include 'admin/category/_category_table.html.twig' with { root } %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
