{% extends 'admin/base.html.twig' %}


{% block body %}
    <ol class="breadcrumb main-breadcrumb px-4 py-2">
        {% if root.slug == constant('App\\Entity\\Category\\Category::MENU_SLUG') %}
            <li class="breadcrumb-item"><a
                        href="{{ path('admin_category_list',{'slug':constant('App\\Entity\\Category\\Category::MENU_SLUG') }) }}">Arborescence
                    du site</a></li>
        {% endif %}
    </ol>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">

                        {% if root.slug == constant('App\\Entity\\Category\\Category::MENU_SLUG') %}
                            <span class="h3 mb-0">
                                Arborescence du menu
                            </span>
                            <a href="{{ path('admin_category_add',{'slug':constant('App\\Entity\\Category\\Category::MENU_SLUG') }) }}"
                               class="btn-add">Ajouter</a>
                        {% else %}
                            Catégories
                        {% endif %}

                    </div>
                    <div class="card-body">

                        {% include 'admin/category/_category_table.html.twig' with { root } %}

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
