<p>
    Vous venez de vous inscrire à notre site {{ site_name }}<br />
    <br />
    Merci de valider votre adresse mail via le lien ci-dessous :
</p>
<hr>
<a href="{{ urlValidation|raw }}">Confirmer mon adresse email</a>