<p>
    Vous venez d'effectuer une demande de récupération de mot de passe.<br>
    Veuillez cliquer sur le lien ci-dessous pour le réinitialiser.<br>
    <br>
    <a href="{{ url|raw }}">Réinitialiser mon mot de passe</a><br>
</p>
