{% extends 'admin/base.html.twig' %}

{% block title %}Administration{% endblock %}

{% set currentPage = {'menu': {'id': 'dashboard'}} %}


{% block stylesheets %}
    {{ encore_entry_link_tags('style-admin-dashboard') }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <a href="{{ path('admin_page_list') }}">
                    <div class="card-counter primary">
                        <i class="fas fa-pager"></i>
                        <span class="count-numbers">{{pageNumber}}</span>
                        <span class="count-name">Pages</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
