{% extends 'app/base.html.twig' %}

{% block body %}
<section id="page-int" class="loginPage" >
    <section id="title-wrapper" data-aos="fade" data-aos-delay="50" data-aos-duration="1000">
        <h1>Mot de passe oublié ?</h1>
        <h2>Je demande un lien de réinitialisation</h2>
    </section>
    <section id="loginForm">
        <div class="container">
            <div class="row">
                <div class="col-10 col-md-8 col-lg-6 mx-auto">
                    <form method="post">

                    <div class="row mb-3">
                        <label for="reset-password" class="col-12 col-sm-6 col-md-5 col-form-label">Adresse mail :</label>
                        <div class="col-12 col-sm-6 col-md-7 ">
                            <input type="email" id="reset-password" name="email">
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-12">
                            <button type="submit" class="d-flex mx-auto btn btn-red hvr-bubble-top">Envoyer</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
