{% extends 'app/base.html.twig' %}

{% block body %}
<section id="page-int" class="loginPage" >
    <section id="title-wrapper" data-aos="fade" data-aos-delay="50" data-aos-duration="1000">
        <h2>Réinitialisation de votre mot de passe</h2>
    </section>
    <section id="loginForm">
        <div class="container">
            <div class="row">
                <div class="col-10 col-md-8 col-lg-6 mx-auto">
                    {{ form_start(form) }}

                    <div class="row mb-3">
                        <label for="password" class="col-12 col-sm-6 col-md-5 col-form-label">Nouveau mot de passe :</label>
                        <div class="col-12 col-sm-6 col-md-7 ">
                            {{ form_row(form.password.first) }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="passwordConfirm" class="col-12 col-sm-6 col-md-5 col-form-label">Confirmation mot de passe :</label>
                        <div class="col-12 col-sm-6 col-md-7 ">
                            {{ form_row(form.password.second) }}
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12">
                            <button type="submit" class="d-flex mx-auto btn btn-red hvr-bubble-top">Valider</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
