.fs-icon-before {
  @extend .fs-icon;
}

.btn-back {
  @extend .btn;
  @extend .btn-dark;

  &::before {
    @extend .fs-icon-before;
    content: "\f060";
  }
}

.btn-add {
  @extend .btn;
  @extend .btn-primary;

  &::before {
    @extend .fs-icon-before;
    content: "\2b";
  }
}

.btn-save {
  @extend .btn;
  @extend .btn-success;

  &::before {
    @extend .fs-icon-before;
    content: "\f0c7";
  }
}

.btn-back {
  @extend .btn;
  @extend .btn-dark;

  &::before {
    @extend .fs-icon-before;
    content: "\f060";
  }
}

.btn-preview {
  @extend .btn;
  @extend .btn-primary;

  &::before {
    @extend .fs-icon-before;
    content: "\f06e";
  }
}

.btn-remove {
  @extend .btn;
  @extend .btn-danger;

  &::before {
    @extend .fs-icon-before;
    content: "\f2ed";
  }
}



