:root {
    --scrollbar-color-primary: #fc0d1b;
    --scrollbar-color-secondary: #a5aaad;
    --scrollbar-color-track: #a5aaad;
    --scrollbar-width: 5px;
    --scrollbar-height: 6px;
}

::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-height);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--scrollbar-color-track);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color-primary);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-color-secondary);
}
