{% extends 'app/base.html.twig' %}

{% block body %}
    <h1>Une erreur est survenue</h1>

    <p>
        La page que vous essayez d’atteindre n'est pas accessible. <br>
        <a href="{{ path('app_home') }}">Retourner à l'accueil</a>.
    </p>
{% endblock %}
